@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(87, 136, 186);
    
    .martel-sans-extralight {
        font-family: "Martel Sans", serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .martel-sans-light {
        font-family: "Martel Sans", serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .martel-sans-regular {
        font-family: "Martel Sans", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .martel-sans-semibold {
        font-family: "Martel Sans", serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .martel-sans-bold {
        font-family: "Martel Sans", serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .martel-sans-extrabold {
        font-family: "Martel Sans", serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .martel-sans-black {
        font-family: "Martel Sans", serif;
        font-weight: 900;
        font-style: normal;
      }
      
}
